<nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" th:href="@{/}">EmpleosApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/vacantes/index}" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">Vacantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/categorias/index}" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">Categorias</a>
      </li>   
      <li class="nav-item">
	      <a class="nav-link" th:href="@{/usuarios/index}" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">Usuarios</a>
	  </li>       
    </ul>  
    <div sec:authorize="isAnonymous()"> 
		<a class="btn btn-primary" th:href="@{/index}">Ingresar</a>&nbsp;
		<a class="btn btn-primary" th:href="@{/signup}">Registrarse</a>
	</div>
    <div sec:authorize="isAuthenticated()">
		<span class="text-light">Bienvenido</span>&nbsp;<span class="text-light" sec:authentication="name"></span>&nbsp;
		<a class="btn btn-primary" th:href="@{/logout}">Salir</a>
	</div>
  </div>
</nav>