<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

<meta charset="utf-8">
<title>Listado de Vacantes</title>
</head>
<body>
	<img th:src="@{/images/logo.png}" with="136" height="136">
	<h1 class="text-primary">Lista de Vacantes</h1>
	
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Logo</th>
				<th>Id</th>
				<th>Nombre</th>
				<th>Fecha de Pub</th>
				<th>Salario Ofrecido</th>
				<th>Descripción</th>
				<th>Destacada</th>
				<th>Detalle</th>
				<th>Borrar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vacante : ${vacantes}">
				<td>
					<img th:src="@{/images/{img} (img=${vacante.imagen})}" with="136" height="136">
				</td>
				<td th:text="${vacante.id}"></td>
				<td th:text="${vacante.nombre}"></td>
				<td th:text="${vacante.fecha}"></td>
				<td th:text="${vacante.salario}"></td>
				<td th:text="${vacante.descripcion}"></td>
				<!--<td th:text="${vacante.destacado}"></td>-->
				<!--<td th:text="${vacante.destacado == 1 ? 'Si' : 'No'}"></td>-->
				<td>
					<span th:if="${vacante.destacado==1}" class="badge bg-success">Si</span>
					<span th:unless="${vacante.destacado==1}" class="badge bg-danger">No</span>
				</td>
				<td>
					<a th:href="@{/vacantes/view/{id} (id=${vacante.id})}" class="btn btn-success">Detalle</a>
				</td>
				<td>
					<a th:href="@{/vacantes/delete(id=${vacante.id})}" class="btn btn-danger">Eliminar</a>
				</td>			
			</tr>
		</tbody>
	</table>

</body>
</html>